In [1]:
# 평균점수 구하기 

ko = 80
en = 75
ma = 55

ave = (ko + en + ma) / 3
print(ave)

70.0

In [3]:
# 홀수, 짝수 판별하기 

num = 13 

result = num % 2 == 0

print(result)

True

In [6]:
# 주민등록번호 나누기 

pin = "881120-1068234"

yyyymmdd = pin[0:6]
num = pin[7:14]

print(yyyymmdd)
print(num)

881120
1068234

In [7]:
pin = "881120-1068234"

result = pin.split("-")

print(result[0])
print(result[1])

881120
1068234

In [8]:
# 주민등록번호 인덱싱

pin = "881120-1068234"
print(pin[7])

1

In [9]:
# 문자열 바꾸기 

a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

In [11]:
# 리스트 역순 정렬하기 

a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [15]:
#  리스트를 문자열로 바꾸기

a = ["Life", "is" , "too", "short"]
result = " ".join(a)
print(result)

Life is too short

In [16]:
#8 튜플 더하기 

a = (1, 2, 3)
a = a + (4, )
print(a)

(1, 2, 3, 4)

In [21]:
#9 딕셔너리의 키 

# a = {}
a = dict()

a["name"] = "python"
a[("a",)] = "python"
# a[[1]] = "python"
a[250] = "python"
print(a)

{'name': 'python', ('a',): 'python', 250: 'python'}

In [22]:
# 10 딕셔너리 값 추출하기 

a = {"A": 90, "B": 80, "C": 70}
result = a.pop("B")
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [24]:
# 11 리스트에서 중복 제거하기 

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [25]:
# 12 파이썬 변수 

a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]